h4 

div#list-menu.row.nav-tabs
    ul.nav
        li
            button.active(data-toggle='tab', href='#user-videos').btn.btn-outline-secondary.btn-md="Postagens"
        li
            button(data-toggle='tab', href='#trash').btn.btn-outline-secondary.btn-md="Grupos"
#myTabContent.tab-content
    #user-videos.tab-pane.fade.show.active
        div.list-videos.row
            if postagens
                each postagem in postagens
                   .col-3.m-2.p-0 
                           .container
                              h2 
                              .card
                                .card-body #{postagem.legenda}
    #trash.tab-pane.fade
        div.list-videos.row
            if grupos
                each grupo in grupos
                    .col-3.m-2.p-0
                            .container
                                  h2 
                                  .card
                                    .card-body #{grupo.nome}
                                       