p.title="Cadastro"

form(action="auth/register" method="POST")

    
    input.form-control(type="text" name="nome" placeholder="Nome")
    input.form-control(type="text" name="email" placeholder="E-mail")
    input.form-control(type="text" name="cidade" placeholder="cidade")
    input.form-control(type="text" name="codigo_professor" placeholder="Código de professor no SAGRES")
    input.form-control(type="text" name="senha" placeholder="Senha")
    input.form-control(type="text" name="resenha" placeholder="Repetir senha")

    button.form-control
        b="Cadastrar"