h4="Amigos"

.teste1
    div.list-videos2.row2
        if amizades
            each amizade in amizades
                .col-3.m-2.p-0
                    .container
                        h2 
                        .card-1
                            .card-body-2 #{amizade.nome}
    
    div.row
        .col-12.mb-2